<aside class="sidebar" id="nav-container">
  <div class="mobile-nav">
    <ul class="nav flex-column" id="nav-list">
      <span class="nav-line d-lg-none"></span>
      <a href=<%= url_for root_path %>><li>Gallery</li></a>
      <span class="nav-line"></span>
      <a href=<%= url_for testimonials_path %>><li>Testimonials</li></a>
      <span class="nav-line"></span>
      <a href=<%= url_for about_us_path %>><li>About</li></a>
      <span class="nav-line"></span>
      <a href="#contact-form-link" data-toggle="modal" data-target="#contact-form">
        <li>Contact</li>
      </a>
      <span class="nav-line"></span>
      <div class="social-links social-contact">
        <a href="<%= @instagram_url %>" id="instagram" class="fa fa-instagram social-icon"></a>
        <a href="<%= @facebook_url %>" id="facebook" class="fa fa-facebook-official social-icon"></a>
      </div>
    </ul>
  </div>
</aside>
