<div class="container b-c-peachpuff">
  <div class="row">
    <div class="col-sm">
      <header>
        <div class="menu-icons" onclick="showNav()">
          <i id="menu-icon" class="fa fa-bars menu-icon"></i>
          <i id="exit-menu-icon" class="fa fa-times exit-menu-icon"></i>
        </div>

        <div class="header-logo">
          <a href="#"><h1>Curtainly</h1></a>
        </div>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= render "home/navigation" %>
    </div>
    <div class="col-sm-9">
      <main>
        <section class="gallery-highlights">
          <div class="row">
            <% for i in 1..4 %>
              <%= render "home/gallery_item", id: i %>
            <% end %>
          </div>
        </section>
        <div class="row text-center">
          <a href="#contact-form-link" class="btn btn-primary btn-contact-form" data-toggle="modal" data-target="#contact-form">Contact Us!</a>
        </div>
      </main>
    </div>
  </div>


  <!-- Form Modal
      FIXME: click event anywhere exits from modal
   -->
  <div class="modal fade" id="contact-form" tabindex="-1" role="dialog" aria-labelledby="contact-form-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content c-black">
        <div class="modal-header">
          <h5 class="modal-title" id="contact-form-label">Contact Us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="contact">
            <%= form_for @form, url: home_form_path do |f| -%>
              <fieldset class="">
                <%= f.text_field :name, class: "form-input form-control", id: "name", placeholder: "Name" %>
              </fieldset>
              <fieldset class="">
                <%= f.email_field :email, class: "form-input form-control", id: "email", placeholder: "Email Address" %>
              </fieldset>
              <fieldset class="">
                <%= f.text_area :message, class: "form-input form-control", id: "message", rows: "10", placeholder: "Write your message..." %>
              </fieldset>
              <fieldset class="">
                <%= f.submit "Send Message", class: "btn btn-primary" %>
              </fieldset>
            <% end -%>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-carousels">
    <% for i in 1..4 %>
      <%= render "home/modal_carousel", id: i %>
    <% end %>
  </div>

  <footer class="row">
    <div class="col-4 social-links">
      <a href="#" id="instagram" class="fa fa-instagram social-icon"></a>
      <a href="#" id="facebook" class="fa fa-facebook-official social-icon"></a>
    </div>
    <div class="col-4">
      <p id="telephone">0777897987</p>
    </div>
    <div class="col-4 ">
      <p id="design-by">Design by Ethan</p>
    </div>
  </footer>
</div>