<!DOCTYPE html>
<html>
  <head>
    <title>Curtainly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div>
      <% flash.each do |key, value| %>
        <div>
          <a href="#" data-dismiss="alert">×</a>
            <%= value %>
        </div>
      <% end %>
    </div>

    <div class="container main-content b-c-peachpuff">
      <div class="row b-c-burlywood d-md-none">
        <div class="col-sm">
          <header>
            <div class="menu-icons" onclick="showNav()">
              <i id="menu-icon" class="fa fa-bars menu-icon"></i>
              <i id="exit-menu-icon" class="fa fa-times exit-menu-icon"></i>
            </div>

            <div class="header-logo">
              <%= link_to root_path do %>
                <h1>Curtainly</h1>
              <% end %>
            </div>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 left-col">
          <div class="header-logo d-none d-md-block">
            <%= link_to root_path do %>
              <h1>Curtainly</h1>
            <% end %>
          </div>
          <%= render "home/navigation" %>
          <%= render "home/testimonials" %>
        </div>
        <div class="col-sm-9 right-col">
          <main>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>

    <footer>
      <div class="container footer-container">
        <div class="footer-row row">
          <div class="col-4 social-links">
            <a href="#" id="instagram" class="fa fa-instagram social-icon"></a>
            <a href="#" id="facebook" class="fa fa-facebook-official social-icon"></a>
          </div>
          <div class="col-4">
            <p id="telephone">0777897987</p>
          </div>
          <div class="col-4 ">
            <p id="design-by">Design by Ethan</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="modals-container">
      <%= render "home/contact_form_modal" %>
    </div>
  </body>
</html>
